form.modal {
  display: flex;
  flex-direction: column;
}

form.modal input {
  height: 30px;
  background-color: #efefef;
  border: none;
  font-size: 14px;
  outline: none;
  padding: 0 10px;
}
form.modal button {
  height: 30px;
  background: #8cc63f;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
