.directory-bar {
  height: 32px;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 6px;
  user-select: none;
  background-color: #8cc63f;
}

.directory-bar .back {
  background-color: transparent;
  border: none;
  height: 35px;
  outline: none;
  color: white;
  font-size: 35px;
}

.directory-bar .dir-btn {
  background-color: transparent;
  height: 75%;

  width: 140px;
  display: flex;
  justify-content: center;
  padding: 0 5px;
  border: 2px solid white;
  border-radius: 5px;
  align-items: center;
  font-size: 110%;
  color: white;
  transition: all 0.25s linear;
  outline: none;
}
.directory-bar .dir-btn:active {
  background: white;
  color: #8cc63f;
}
.directory-bar button:active {
  transform: scale(0.98);
}

.dir-btn p {
  margin-left: 2px;
  display: flex;
  margin-top: 2px;
  align-items: baseline;
  font-size: 18px;
}

.directory-bar .selected {
  background: white;
  color: #8cc63f;
}
@media only screen and (max-width: 400px) {
  .dir-btn p {
    font-size: 15px;
  }
}
