.directory-address-path {
  background: black;
  height: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  gap: 2px;
}
.directory-address-path div {
  display: flex;
  color: white;
  align-items: center;
  cursor: default;
}
.directory-address-path div h2 {
  margin: 0 1px;
  color: white;

  font-size: 20px;
}
.directory-address-path div li {
  list-style-type: none;
  color: white;
}
.directory-address-path div li:hover {
  cursor: pointer;
  color: #551a8b;
  color: rgb(220, 207, 207);
  text-decoration: underline;
}

.directory-address-path .dir-icon {
  color: white;
}
