.box-folder {
  border-radius: 4px;
  background: #fff;
  padding: 2px 5px;
  /* border: 1px solid #595959; */
  margin: 5px 5px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: none;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1);
}

.box-folder:hover {
  background: #ddffdd;
}
.box-folder:active {
  transform: scale(0.95);
}
