/* .cardnote-design-body { */
/* height: 100vh; */
/* background: url("../Icons/bottom-full-design\ .svg") no-repeat fixed bottom
    right; */
/* } */
.bottom-design svg {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: -2;
}
.cardnote-icon svg {
  width: 100px;
  padding-top: 20px;
  /* display: none; */
}

.cardnote-design-container {
  display: flex;
}
.cardnote-design-container .left {
  /* align-items: baseline; */
  padding-left: 40px;
  width: 50vw;
}
.cardnote-design-container .left .message {
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  /* background: chartreuse; */
}
.cardnote-design-container .left .message p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 51px;
  line-height: 60px;
  text-align: center;
  color: #deec86;
}
.cardnote-design-container .right {
  width: 50vw;
  height: 100vh;
  display: flex;
  /* top: 50%; */
  /* transform: translate(0, 0%); */

  align-items: center;
  justify-content: center;
  /* background-color: chartreuse; */
}

@media screen and (max-width: 960px) {
  #tilt-rectangle {
    display: none;
  }
  .cardnote-icon svg {
    width: 70px;
    padding-top: 20px;
  }
  .cardnote-design-container {
    flex-direction: row;
  }
  .cardnote-design-container .left {
    display: flex;
    padding-left: 20px;
    justify-content: center;
    width: 100vw;
  }
  .cardnote-design-container .right {
    width: 100vw;
    position: absolute;
    height: 0;
    padding-top: 50px;
    display: flex;
    top: 50%;
    transform: translate(0, -50%);
    justify-content: center;
    /* position: relative; */
  }
  .cardnote-design-container .left .message p {
    font-size: 26px;
    /* align-items: flex-end; */
    /* margin: 0 auto; */
    /* text-align: center; */
    /* width: 100vw; */
  }
}
