.body {
  overflow: hidden;
}
.signup-container {
  display: flex;
  height: 100vh;
}

.signup-container .container1 {
  flex: 1;
}
.signup-container .container2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 img {
  width: 200px;
  margin: 20px 0 0 30px;
}

.container1 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-style: normal;
  font-weight: normal;
  font-size: 51px;
  line-height: 60px;
  text-align: center;

  color: #deec86;
  margin: 40px 0 0 30px;
}

.signup-form {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 62px 44px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.signup-form input {
  height: 45.91px;
  width: 376px;
  border: none;
  padding: 0 10px;
  background: #efefef;
}

.signup-form button {
  width: 376px;
  height: 45.91px;
  border: none;
  background: #deec86;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
  cursor: pointer;
}

.signup-register {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signup-register .register-btn {
  text-decoration: none;
  color: blue;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.body .bottom {
  position: fixed;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 970px) {
  #bottom-design {
    display: none;
  }
  .signup-container {
    flex-direction: column;
  }
  .container1 {
    /* flex: 0; */
    display: flex;
    align-items: flex-start;
  }
  .container2 {
    /* flex: 1; */
    display: flex;
    align-items: flex-start;
    transform: translateY(-35%);
  }
  .container1 p {
    /* margin-top: 20px; */
    font-size: 25px;
    /* justify-self: baseline; */
  }
}
@media (max-width: 520px) {
  .signup-form {
    padding: 44px 35px;
    /* text-align: center; */
  }
}

@media (max-width: 375px) {
  /* .body {
    display: none;
  } */
  .container1 img {
    width: 150px;
  }
  .container1 p {
    /* margin-top: 20px; */
    font-size: 19px;
    /* justify-self: baseline; */
  }
  .signup-container {
    flex-direction: column;
  }
  .signup-form {
    padding: 28px 24px;
    text-align: center;
  }

  .signup-form input {
    height: 45.91px;
    width: 276px;
  }

  .signup-form button {
    width: 276px;
    height: 45.91px;
  }
}
